@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrollbars */
  font-family: 'Playfair Display', serif;
}

*,
*::before,
*::after {
  font-family: 'Playfair Display', serif;
}

body {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

input, select, textarea, button {
  font-family: 'Playfair Display', serif;
}
